*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*play button*/
.play-game-btn {
    color: #000;
    text-decoration: none !important;
    font-weight: bold;
}

.game-header {
    background-color: rgba(237, 198, 100, 0.9);
    text-align: center;
    margin-top: 2rem;
}

.container {
    background-color: rgba(237. 198, 100, 0, 0, 0.9);
    padding: 1rem;
    width: 500px;
    height: auto
}

.question-container {
    text-align: center;
    padding: 0;
    height: 4rem;
    font-size: 1rem;

}

.answer-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: rgba(237, 198, 100, 0.9);
}

.choice-text {
    background-color: rgba(237, 198, 100, 0.9);
    margin: 0.2rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    border: solid 2px black;
    padding: 0.5rem;
    color: black;
}

/* correct or incorrect */
.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.navbtn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

/* hud */
.hud {
    background-color: rgba(237, 198, 100, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 5rem;
    font-size: 1.2rem;
}

.hud-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;

}

.hud-q {
    font-size: 1rem;
    margin: 0;
}

.hud-text {
    padding: 1px;
    margin: 0;
}

.hud-s {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    height: 2rem;
}

.hud-item {
    display: flex;
    align-items: center;
}


/* timer style */
.timer {
    text-align: center;
    font-size: 1.5rem;
    border: solid 2px black;
    border-radius: 50%;
    padding: 1rem;
}


.question {
    background-color: rgba(237, 198, 100, 0.9);
    font-family: "Poppins", sans-serif;
    padding-top: 5px;
}

/* high score container */
.high-score-container {
    background-color: rgb(237, 198, 100, 0.9);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    width: 400px;

}

.high-score-header {
    padding: 1rem;
    border: solid 2px black;
}

.high-score-list {
    list-style: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: bold;

}

li {
    padding: 5px;

}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;

}

/* result container */
.result {
    background-color: rgba(237, 198, 100, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;

}

.final-score {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
}

.enter-name {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin-bottom: 1rem;
}

#username {
    background-color: rgb(237, 198, 100, 0.9);
    color: black;
    border: solid 2px black;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}


.hidden {
    display: none;
}