body {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}
.game-header{
    text-align: center;
    margin-top: 2rem;
}


.container{
    background-color: blueviolet;
    width: 60rem;
    height: 25rem;
    
}
.question-container{
    background-color: red;
    text-align: center;
    padding: 2rem;
    height: 5rem;
    font-size: 1.5rem;

}
.question{
    background-color: yellow;
}
.answer-btn{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.choice-text{
    padding:1rem;
    }

    /* correct or incorrect */
   .correct{
       background-color: green;
   }
    .incorrect{
         background-color: red;
    }
    
/* hud */

#hud{
    background-color: yellow;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    height: 5rem;
    font-size: 1.5rem;
}
#hud-item{
    display: flex;
    align-items: center;
}
