/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

body {
    font-family: 'Henny Penny', cursive;
    margin: 0;
    padding: 0;



}
.heading {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
}
/* modal style */
.modal {
    position: fixed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-image: url(../images/letter-background.jpg);
    background-size: cover;
    width: 450px;
    height: 500px;
}
/* modal active style */
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

/* modal header style */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 20px 180px;
}

.modal-header .title {
    font-size: 1.5rem;
    font-weight: bold;
}
/* modal close button style */
.modal-header .close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.3rem;
    font-weight: bold;
}
/* close button hover style */
.modal-header .close-btn:hover {
    color: red;
}
/* modal content style */
.modal-content {
    padding: 20px 20px 20px 50px;
    font-size: 1.2rem;
}
/* overlay style */
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(210, 188, 188, 0.6);
    pointer-events: none;

}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.hidden {
    display: none;
}
