/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Poppins:wght@300&display=swap');


*,
*::after,
*::before {
    box-sizing: border-box;
}

/* body style */
body {
    background-image: url(../images/hermione2.png), url(../images/harry.png), url(../images/hogwarts.png);
    background-size: 18rem, 16rem, cover;
    background-repeat: no-repeat;
    background-position: left center, right center, center bottom;
    min-height: 100vh;
    width: 100%;
    font-family: 'Henny Penny', cursive;
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: rgb(237, 198, 100, 0.9);
    color: black;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;

}

/* main container style */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: rgba(237, 198, 100, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 2px solid #000;
    border-radius: 5px;
    height: 2rem;
    width: 10rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: black
}

.play {
    height: 5rem;
    margin: 0rem 0 2rem 0;

}

.play-game-btn {
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

/* modal style */
.modal {
    position: fixed;
    background-color: rgba(237, 198, 100, 0.9);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-size: cover;
    width: 600px;
    height: 600px;
}

/* modal active style */
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

/* modal header style */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 20px 180px;
}

.modal-header .title {
    font-weight: bold;
    font-size: 2rem;
}

/* modal close button style */
.modal-header .close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.3rem;
    font-weight: bold;
}

/* close button hover style */
.close-btn:hover {
    color: red;
}

/* modal content style */
.modal-content {
    padding: 30px 20px 20px 50px;
    font-size: 1.3rem;
}

/* overlay style */
.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(72, 78, 116, 0.9);
    pointer-events: none;
}

/* overlay active style */
.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* hide class */
.hidden {
    display: none;
}

/*media queries */

@media (max-width: 1024px) {
    body {
        background-size: 15rem, 13rem, cover;
    }

    .logo {
        width: 30rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .btn {
        width: 12rem;
    }

    .result {
        width: 500px;
        font-size: 1rem;
    }


}

@media (max-width: 768px) {
    body {
        background-size: 12rem, 10rem, cover;
    }

    .logo {
        width: 25rem;
    }

    .modal {
        width: 500px;
        height: 500px;
    }

    .modal-content {
        padding: 30px 20px 20px 50px;
        font-size: 1.1rem;
    }

    .title {
        font-size: 1.2rem;
    }

    .container {
        width: 400px;
    }

    .answer-btn {
        font-size: 1rem;

    }

    .btn {
        width: 10rem;
    }

    .result {
        width: 350px;
        height: 350px;
        font-size: 0.8rem;
    }

    .enter-name {
        font-size: 30px;
        padding: 0.5rem;
    }

}

/* media queries for smaller devices */
@media (max-width: 500px) {
    body {
        background-size: 9rem, 8rem, cover;
    }

    .logo {
        width: 15rem;
    }

    .modal {
        width: 400px;
        height: 400px;
    }

    .title {
        font-size: 1.1rem;
    }

    .modal-content {
        padding: 30px 20px 20px 30px;
        font-size: 0.8rem;
    }

    .btn {
        width: 8rem;
    }

    .game-header {
        margin: 0;
        font-size: .5rem;
    }

    .container {
        width: 300px !important;
    }


    .result {
        width: 300px;

        font-size: 0.5rem;
    }

    .enter-name {
        font-size: 30px;
        padding: 0.5rem;
    }
}

/* media queries for mobile devices */
@media (max-width: 400px) {
    body {
        background-size: 8rem, 7rem, cover;
    }

    .logo {
        width: 12rem;
    }

    .modal {
        width: 350px;
        height: 350px;
    }

    .modal-content {
        padding: 30px 20px 20px 30px;
        font-size: 0.7rem;
    }

    .title {
        font-size: 1rem !important;
    }

    .btn {
        width: 9rem;
    }

    .game-header {
        margin: 0;
        font-size: .5rem;
    }

    .container {
        width: 300px !important;
    }

    .question {
        font-size: 0.8rem;
    }

    .choice-text {
        padding: 0.3rem;
    }

    .btn-container {
        font-size: 20px;
    }

    .enter-name {
        font-size: 20px !important;
        ;
    }

    .high-score-container {
        width: 250px;
        margin-left: 1rem;
    }
}